.blinker {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: blink;
          animation-name: blink;
}

@-webkit-keyframes blink {
  0%, 70%, 99% {
    opacity: 1;
  }
  71%, 89% {
    opacity: 0;
  }
}
@keyframes blink {
  0%, 70%, 99% {
    opacity: 1;
  }
  71%, 89% {
    opacity: 0;
  }
}
.article-title {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
